* {
  margin: 0;
  position: relative;
  background-color: rgb(236, 241, 132);
  color: #000;
}
.main_g {
  margin: 2px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.mail:hover {
  cursor: pointer;
}

.back {
  width: calc(20%);
  height: 200px;
  font-size: 30px;
  text-decoration: none;
}

h1 {
  text-align: center;
}

table {
  background-color: yellow;
  width: calc(100%);
  height: 550px;
  color: wheat;
  margin: 50px 50px 0px 0px;
}

th {
  background-image: url(./Pictures/Huff/hufflepuff-1920-x-1080-background-2rseqe4awc3xyk2j.webp);
  background-size: cover;
  background-position: calc(50%);
  color: rgb(255, 255, 255);
  font-size: calc(130%);
  vertical-align: top;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.hero {
  width: calc(25%);
  height: 550px;
  background-image: url(./Pictures/Huff/HelgaHufflepuffPottermore.webp);
  background-size: cover;
  background-position: calc(50%);
  border-radius: 50%;
  float: right;
}

.hero:hover {
  background-image: url(./Pictures/Huff/hogwarts-legacy-houses-4.jpg);
  background-size: cover;
  height: 400px;
  width: calc(30%);
  background-position: calc(50%);
}

th > img {
  border-radius: 100%;
  width: calc(20%);
  height: calc(50%);
  position: sticky;
  float: right;
  margin: 10px;
  width: 200px;
  height: 250px;
}

th > img:hover {
  scale: calc(120%);
  z-index: 1;
}

.__info {
  font-size: calc(250%);
  margin: 50px;
  padding: 50px;
}

#people {
  float: calc(50);
  font-size: 50px;
  left: calc(40%);
  border: 15px double black;
  color: rgb(253, 245, 0);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.herb:hover {
  cursor: pointer;
  opacity: calc(50%);
}

.title {
  font-size: 30px;
}
