* {
  margin: 0;
  position: relative;
  background-image: url(./Pictures/istockphoto-654922866-612x612.jpg);
  background-size: calc(100%);
  color: #000;
}

ul {
  list-style-type: none;
  display: block;
  height: calc(100%);
  width: calc(100%);
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  font-size: 30px;
  width: calc(20%);
  text-decoration: none;
  padding: 10px 15px;
  margin: 5px;
  opacity: calc(75%);
  height: 50px;
  margin: 5px;
  padding: 20px;
}

li:hover + a {
  opacity: calc(100%);
}

ul li a {
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  text-decoration: none;
  opacity: calc(50%);
  color: black;
  margin: 5px 5px 5px 5px;
}

ul li a:hover {
  opacity: calc(100%);
  transform: scale(1.4);
  z-index: 10;
  color: #fff;
  background: local;
}

li:first-child:hover {
  background-image: url(./Pictures/Gryf/gryffindor-colors-vertical-pattern-of8ps396ywncbvnq.jpg);
  background-size: cover;
}

li:nth-child(2):hover {
  background-image: url(./Pictures/Slyth/slytherin-aesthetic-dark-green-fabric-8ppb4ymzkqmscz5n.webp);
  background-size: cover;
}

li:nth-child(3):hover {
  background-image: url(./Pictures/Raven/vintage-ravenclaw-crest-61x5bau4ewpp4kcm.webp);
  background-position: 50%;
}

li:last-child:hover {
  background-image: url(./Pictures/Huff/hufflepuff-1920-x-1080-background-2rseqe4awc3xyk2j.webp);
  background-size: cover;
}

span {
  text-align: center;
  color: white;
  background-color: red;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.mail {
  background-color: #007ed7;
}

.mail:hover {
  cursor: pointer;
}

.t1 {
  background-color: blue;
}

.t2 {
  background-color: aquamarine;
}

.house {
  width: 200px;
  background-size: cover;
  float: left;
  max-width: 100%;
  max-width: 100%;
  height: 100px;
  mix-blend-mode: lighten;
}

#hogwart {
  width: 500px;
  max-width: calc(50%);
  height: 350px;
  border-radius: 50%;
  float: left;
  margin: 5px;
  background-image: url(./Pictures/The_Wizarding_World_of_Harry_Potter_09.jpg);
  background-position: calc(50%);
  background-size: cover;
  margin-bottom: 20px;
}

#hogwart:hover {
  background-image: url(./Pictures/harry-potter-zoom-background-ey1wy31b6pclofru.webp);
  background-position: calc(50%);
  background-size: cover;
}

.hogwart__info {
  font-size: 30px;
  font-family: cursive;
  color: #211e3f;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

i {
  float: right;
  margin: 10px 20px;
}

i:hover {
  cursor: pointer;
}

.container {
  width: 10px;
  height: 10px;
  position: absolute;
}
