* {
  margin: 5px;
  font-size: 50px;
  position: relative;
  background-color: #9fa9a3;
}

header {
  font-size: 75px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 10px;
  display: flex;
}

li {
  height: 50px;
}

a {
  box-shadow: -15px 15px 20px black, 5px -5px 30px white, 10px 10px 20px grey,
    -10px -5px 30px black;
  border-radius: 20%;
  border: 2px solid #c5d5c5;
  text-decoration: none;
  color: black;
  background-color: #c5d5c5;
  left: calc(35%);
  right: calc(50%);
}
