* {
  margin: 20px;
  font-size: 30px;
  position: relative;
}

input {
  display: inline-block;
  border-radius: 20%;
  opacity: calc(75%);
}

input:hover {
  opacity: calc(100%);
  cursor: pointer;
}
div {
  width: 250px;
  height: 200px;
  background-color: aqua;
  padding: 10px;
}

#date {
  background-color: aliceblue;
  margin: 15px 10px 10px 15px;
  height: 50px;
  width: 150px;
  text-align: center;
}
p {
  background-color: red;
}
