* {
  margin: 20px;
  font-size: 30px;
  position: relative;
}

body {
  background-color: gray;
}

input {
  display: inline-block;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
  opacity: calc(75%);
}

input:hover {
  opacity: calc(100%);
  cursor: pointer;
  box-shadow: 2px 2px 2px black, 2px 2px 2px black, 2px -2px 2px black,
    -2px 2px 2px black;
}

input:first-of-type:hover {
  background-color: yellow;
}

input:nth-of-type(2):hover {
  background-color: blue;
}

input:nth-of-type(3):hover {
  background-color: green;
}

input:nth-of-type(4):hover {
  background-color: red;
}

div {
  width: 250px;
  height: 200px;
  /* background-color: aqua;
  box-shadow: 30px -30px 150px black inset, 0px 0px 50px black;
  border-radius: calc(100%);
  padding: 10px;*/
  display: inline-block;
}

p {
  position: relative;
  background-color: aqua;
  box-shadow: 30px -30px 150px black inset, -30px 30px 50px black;
  text-align: center;
  font-size: 50px;
  height: calc(100% - 38%);
  width: calc(100%);
  padding-top: calc(30%);
  margin: 0;
  border-radius: calc(100%);
}

#date {
  background-color: bisque;
}
